 /* ============================================================
   Project: NSS Exercise
   Author:  Nathan T. Baker
   ============================================================ */

/* ===GLOBAL=== */

/* ===PRIMARY=== */
/* ===HEADER=== */
/* ===SIDEBAR=== */
/* ===FOOTER=== */

li a {
  color: white;
}