 /* ============================================================
   Project: NSS Exercise
   Author:  Nathan T. Baker
   ============================================================ */

/* ===GLOBAL=== */

body {
  background-color: #eee;
}

/* ===PRIMARY=== */
/* ===HEADER=== */
/* ===SIDEBAR=== */
/* ===Car Cards=== */
.car {
  border: black 1px solid;
  border-radius: 10px;
  background-color: white;
  min-height: 100px;
  margin: 10px 0;
  padding: 20px;
}