 /*  Project: NSS Exercise
     Author:  Nathan T. Baker
=============================================================== */

/** GLOBAL **/

body {
  background-color: #e9ede6;
  min-width: 300px;
}

p {
  font-family: georgia;
  font-weight: lighter;
  font-size: 1.6em;
  line-height: 1.6em;
}

h2 {
  font-size: 2em;
  padding: 0 0 0 40px;
  margin: 0 20px 10px 0;
  background: url("../images/tire.svg") no-repeat 0 5px;
  background-size: 30px;

}

/** Nav **/

/*Form button was too close to edge of navbar container on small screens*/
.navbar-inner {
  padding: 10px;
}

/** Car Cards **/

.car {
  border: black 1px solid;
  border-radius: 10px;
  min-height: 100px;
  margin: 15px 0;
  padding: 15px 20px;
  box-shadow: 1px 2px 5px #aaa;
  min-height: 250px;
  background-color: white;
}

price {
  color: #78bc56;
  font-size: 1.5em;
  line-height: 1.8em;
  margin: 0;
}

/** Toggle Class **/

.border {
  border: black 3px solid;
  box-shadow: 2px 4px 7px #222;
}